.bg{
    background-image: url('../../../images/videopic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px; 
}
.items-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}